<header>
  <h1>Tech Blog</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
  </nav>
</header>

<main>
  <form id="signup-form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign Up</button>
  </form>
</main>
